/* ------- START CSS Reset ------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------- END CSS Reset ------- */


/* ------- Variables ------- */
:root {
	--dark-text-color: ;
	--light-text-color: ;
	--primary-color: ;
	--secondary-color: ;
}


/* ------- Home Page ------- */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----- Header ----- */
li {
	display: inline-block;
}

nav a {
	display: block;
	font-size: 1.1rem;
	padding: 10px;
	margin: 10px 0;
	background-color: rgb(160, 160, 244);
	text-decoration: none;
	color: white;
}

nav a:hover {
	background-color: darkblue;
}

.home-nav, .cuisine-nav, .creations-nav, .loading-nav {
	color: black;
} 

.home-nav:hover, .cuisine-nav:hover, .creations-nav:hover, .loading-nav:hover {
	color: white;
}

nav a:active {
	transform: scale(0.95);
}

/* ----- Main ----- */
#home-main {
	grid-area: 2 / 1 / 3 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.75fr 1fr;
	align-items: center;
	justify-items: center;
}

/* --- Intro --- */
.intro {
	grid-area: 1 / 1 / 2 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px 1fr;
	align-items: center;
	justify-items: center;
}

h1 {
	grid-area: 1 / 1 / 2 / 3;
	font-size: 3.8rem;
	padding: 0 15px;
}

.author {
	grid-area: 1 / 1 / 2 / 3;
	font-size: 1.5rem;
	margin-top: 90px;
	text-align: center;
}

.intro-p {
	grid-area: 2 / 3 / 3 / 5;
	line-height: 1.5;
	max-width: 65ch;
	font-size: 1.3rem;
	padding: 20px;
}

/* --- Featured --- */
.featured {
	grid-area: 2 / 1 / 3 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 50px;
	align-items: center;
	justify-items: center;
}

h2 {
	grid-area: 1 / 1 / 2 / 6;
	font-size: 2.5rem;
}

.featured div {
	border-radius: 5px;
}

/* Actual image goes here */
.main-img-placeholder {
	grid-area: 2 / 3 / 3 / 4;
	margin: 0 15px;
	width: 300px;
	height: 300px;
	background-color: black;
}

.project-link {
	text-decoration: none;
	color: rgb(160, 160, 244);
	transition-duration: 0.1s;
}

.project-link:hover {
	color: darkblue;
}

.project-link:active {
	transform: scale(0.95);
}

#left-img img, #right-img img {
	width: 150px;
	height: 150px;
}

#main-img-title {
	grid-area: 3 / 1 / 4 / 6;
	font-size: 1.5rem;
	text-align: center;
	margin: 15px 0;
}

/* Actual image goes here */
.left-img-placeholder {
	grid-area: 2 / 2 / 3 / 3;
	width: 150px;
	height: 150px;
	background-color: grey;
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

/* Actual image goes here */
.right-img-placeholder {
	grid-area: 2 / 4 / 3 / 5;
	width: 150px;
	height: 150px;
	background-color: gray;
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

button {
	height: 100px;
	background-color: rgb(160, 160, 244);
	border: none;
	color: black;
	text-decoration: none;
	font-size: 1.7rem;
	border-radius: 5px;
}

button:hover {
	background-color: darkblue;
	color: white;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}


#right-button {
	grid-area: 2 / 5 / 3 / 6;
}

#left-button {
	grid-area: 2 / 1 / 3 / 2;
}

/* --- All Projects --- */
.all-projects {
	grid-area: 3 / 1 / 4 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr;
	align-items: center;
	justify-items: center;
}

all-projects h2 {
	grid-area: 1 / 1 / 2 / 4;
}

.project {
	display: grid;
	padding: 15px;
}

.project h3 {
	text-align: center;
	margin: 15px 0;
	font-size: 1.5rem;
}

.project-3 {
	grid-area: 3 / 1 / 4 / 2;
}

.project-4 {
	grid-area: 3 / 2 / 4 / 3;
}

.project-placeholder, img {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: black;
	border-radius: 5px;
	margin: 0 auto;
}

/* ------- Project Pages ------- */

/* ----- Main ----- */
.project-main {
	grid-area: 2 / 1 / 3 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.project-main h1 {
	grid-area: 1 / 1 / 2 / 5;
}

.back-button {
	grid-area: 1 / 1 / 2 / 2;
	padding: 10px;
	background-color: gray;
	text-decoration: none;
	color: white;
}

.back-button:hover {
	background-color: lightgray;
	color: black;
}

.back-button:active {
	transform: scale(0.95);
}

.project-main section {
	margin: 100px 0;
}

.first-group {
	grid-area: 2 / 1 / 3 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
}

.second-group {
	grid-area: 3 / 1 / 4 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
}

.second-group div {
	grid-area: 1 / 2 / 2 / 3;
}

.third-group {
	grid-area: 4 / 1 / 5 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
}

/* For screens smaller than 850px */
@media only screen and (max-width: 850px) {
	.details-img-placeholder {
		margin: 0 auto;
		width: 300px;
		height: 500px;
		background-color: black;
	}
}

/* For screens larger than 850px */
@media only screen and (min-width: 850px) {
	.details-img-placeholder {
		margin: 0 auto;
		width: 400px;
		height: 600px;
		background-color: black;
	}
}


.project-main section p {
	max-width: 55ch;
	line-height: 1.5;
	padding: 25px;
	font-size: 1.5rem;
}

/* ------- Wok Asian Cuisine ------- */

/* ------- Pallas Creations ------- */

/* ------- Loading Bar Animation ------- */
